body {
    margin: 0;
    background-color: #ddd;
}

nav {
    background-color: #333333;
    position: fixed;
    width: 100%;
    top: 0;
}

nav ul {
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav li a {
    line-height: 50px;
    text-decoration: none;
    color: #999;
    font-family: sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 18px;
}